# Configuration Discord Bot
DISCORD_TOKEN=votre_token_discord_ici
CLIENT_ID=votre_client_id_discord_ici
GUILD_ID=votre_guild_id_discord_ici

# Salons Discord
WHITELIST_CHANNEL_ID=1539029693087350924
LOG_CHANNEL_ID=1539029693087350924

# Rôles Staff autorisés (séparés par des virgules)
STAFF_ROLE_IDS=1446630514210639992,1537874314924265632

# Configuration Roblox Open Cloud API
ROBLOX_API_KEY=votre_cle_api_roblox_open_cloud_ici
UNIVERSE_ID=votre_universe_id_roblox_ici
